@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Perstige Hospital :) </h1>

   @*  2) create a simple mvc application that will display doctor list to the patient.  *@
@* 
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img src="https://th.bing.com/th/id/OIP.Ljju8ghUBkn-w2xCQKQ-EwHaFX?w=239&h=180&c=7&r=0&o=5&pid=1.7" alt="Doctor Picture" height="300" width="500" />

</div>
